*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  background-color: #d9f1ff;    
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.header-projetos{
    display: inline-block;
    margin-left: 15px;
}

.header-formacao{
    display: inline-block;
    margin-left: 15px;
}

.header-contatos{
    display: inline-block;
    margin-left: 15px;
}

.header-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3rem;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color:#2796db;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 60%;
}

.header-menu a:hover {
  color: #2796db;
}

a{
    color: #2796db;
}

.paragrafos{
  line-height: 1.5;
  font-size: 16px;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    max-width: 1200px;
    margin: 25px auto 0 auto;
    padding: 40px 20px;
    align-items: center;
    
  }
  
  .intro::after {
    grid-column: 1 / -1;
    justify-self: center;
    display: block;
    content: "";
    width: 90%;
    height: 2px;
    margin-top: 40px;
    background: #2796db;
    
  }
  
  
  .intro-txt {
    position: relative;
  }
  
  
  
  .intro-botoes {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  
  .intro-whats,
  .intro-github,
  .intro-linkedin {
    padding: 15px 40px;
    border: 1px solid #45a3dd;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  .intro-whats:hover,
  .intro-github:hover,
  .intro-linkedin:hover {
    color: white;
    scale: 1.05;
    box-shadow: 20px 15px 20px -20px #000000;
  }
  
  .intro-whats:hover {
    background: linear-gradient(90deg,#25D366, #128C7E);
  }
  
  .intro-github:hover {
    background: linear-gradient(#5b6571, #23272d);
  }
  
  .intro-linkedin:hover {
    background: linear-gradient(#1b7cdd, #0a66c2);
  }

  #titulo-h1{
    font-size: 48px;
    margin: 0px 0 0 25px ;
  }

  .titulo-h2{
    font-size: 40px;
  }


  .projetos {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 20px;
    background-color: #d9f1ff;    
  }
  
  .projetos .role {
    display: none;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .titulo-projeto::after {
    display: block;
    content: '';
    width: 250PX;
    height: 4px;
    background: #4a2cc5;
  }

img{
    width: 450px;
    border-radius: 15px;
    display: flex;
    margin: auto;
}

#img-projeto-telegram{
    height: 320px;
}

.container-projetos{
    margin: 100px auto;
}


.projeto-rigth, .projeto-left{
    display: inline-block;
    width: 50%;
    transition: 0.3s;
}

.projeto-left :hover {
    transition: 0.3s;
    transform: scale(1.1);
    box-shadow: 20px 20px 20px -20px #00000070;
}

.projeto-rigth :hover {
    transition: 0.3s;
    transform: scale(1.1);
    box-shadow: 20px 20px 20px -20px #00000070;
}

  

.linguagens-left, .linguagens-rigth{
    display: inline-block;
    width: 49%;
}
.h2-projetos{
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
   
    
}

.paragrafo{
    width: 450px;
    text-align: center;
    margin: auto;
    font-size: 18px;
    display: flex;
}

.intro img {
    width: 350px;
    border-radius: 50%;
}

.tecnologias{
    text-align: center;
}

.tecnologia{
    display: inline-block;
    margin: 15px;
    font-size: 20px;
    font-family: 600;
    margin-bottom: 10px;
}

.tecnologia :hover {
    color: #45a3dd;
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
  }


  .formacao {
    background: #141414;
    color: white;
    padding: 120px 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .formacao h2 {
    font-size: 9rem;
    color: #ffffff;
    margin: 0;
  }
  
  .formacao h2::after {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background: #4a2cc5;
    border-radius: 50%;
    margin-left: 5px;
  }

  .grade {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .deco2 {
    justify-self: end;
    align-self: end;
  }
  
  
  .curso p {
    color: #f0f0f0;
    font-size: 1rem;
  }
  
  .curso p strong {
    font-size: 1.5rem;
  }
  
  .titulo-fraco {
    color: #cccccc;
    font-size: 1.25rem;
    margin: 0;
  }
  
  .curso .time
   {
    color: #cccccc;
    font-size: 1.25rem;
    margin: 0;
  }
  
    .curso {
    display: inline-block;
    background-color: #0a0a0a;
    border: 1px solid #6c6c6c;
    border-radius: 5px;
    padding: 20px;
    transition: 0.3s;
    margin: 10px;
  }
  
  .curso:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }
  
  
  
  .soft-skills,
  .hard-skills,
  .idiomas {
    padding: 20px;
  }
  
  .titulo-3 {
    color: #cccccc;
    font-size: 1.25rem;
    position: relative;
    transition: 0.3s;
  }
  
  .titulo-3::before {
    display: inline-block;
    content: "";
    width: 5px;
    height: 16px;
    background: #4a2cc5;
    margin-right: 16px;
    transition: 0.3s;
  }
  
  .titulo-3:hover:before {
    width: 20px;
    transition: 0.3s;
  }
  
  .grade-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 20px 0;
  }
  
  .soft-skills p,
  .hard-skills p,
  .idiomas p {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  
  .grade-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 20px 0;
    
  }
  

  
  .bloco {
    transition: 0.3s;
  }
  
  .bloco:hover {
    transition: 0.3s;
    transform: scale(1.01);
  }


  .contatos {
    background-color: black;
    color: white;
    font-size: 1.25rem;
  }
  
  .contatos a {
    text-decoration: none;
    color: White;
    font-size: 1rem;
  }
  
  .contatos .container {
    display: grid;
    grid-template-columns: 400px 400px;
    padding: 120px 40px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 5px 50px;
  }
  
  .info-contatos {
    gap: 20px;
    grid-column: 2;
    grid-row: 1 / 3;
  }
  
  .info-contatos img {
    width: 20px;
    display: inline-block;
    margin-right: 20px;
  }
  
  .contato-1 {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: start;
    align-items: center;
    padding: 5px 0;
  }
  
  .contato-1 span{
    color: #b4b4b4;
    margin-right: 10px;
  }

  footer {
    background-color: rgb(0, 0, 0);
    color: rgb(180, 180, 180);
    border-top: solid 1px rgb(18, 18, 18);
  }
  
  .footer{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
  }



  .js .fadeInDown {
    transform: translate3d(0, -20px, 0);
  }
  
  .js .fadeInUp {
    transform: translate3d(0, 20px, 0);
  }
  
  .js .fadeInRight {
    transform: translate3d(20px, 0, 0);
  }
  
  .js .fadeInLeft {
    transform: translate3d(-20px, 0, 0);
  }
  
  .js [data-anime] {
    opacity: 0;
  }
  
  .js .anime {
    opacity: 1;
    transform: none;
    transition: transform 0.8s, opacity 0.8s;
  }




 
  @media (max-width: 915px) {
    .header{
      justify-content: center;
    }
    .header-projetos, .header-formacao, .header-contatos{
      display: inline-block;
      margin-left: 5px;
  }
  
  #titulo-h1{
    font-size: 42px;
    margin-top: 50px;
    text-align: center;
  }
  
  .intro-img {
    float: none;
    margin-right: 0;
    display: block;
    margin-bottom: 10px;
  }

  .paragrafo{
    width: 400px
  }
  }
  @media (max-width: 821px) {
    
  .titulo-h2{
    font-size: 36px;
  }
  .titulo-projeto{
    text-align: center;
    font-size: 36px;
  }
  .titulo-projeto::after {
    margin: auto;
    width: 171px;
  }
  .container-projetos{
    display: flex;
    flex-direction: column;
    border: #45a3dd solid 2px; 
    border-radius: 10px;
  }
  
  .linguagens-rigth{
    order: -1;
  }

  .projeto-rigth, .projeto-left{
    width: 100%;
    
  }

  .linguagens-left, .linguagens-rigth{
    width: 100%;
  }

  img{
    max-width: 550px;
    margin-bottom: 25px;
  }
  #img-projeto-telegram{
    height: 350px;
}

.h2-projetos{
  font-size: 40px;
  margin-top: 35px;
}

.paragrafo{
  max-width: 550px;
  font-size: 26px;
  margin-bottom: 20px;
}

.tecnologia{
  font-size: 30px;
  margin-bottom: 40px;
}

.grade-2 {
  display: block;
  
}

.conversa{
  margin-left: 40px;
}
}

@media (max-width: 769px){ 
  .formacao h2 {
    font-size: 7rem;
  }

  .contatos .container {
    grid-template-columns: 300px 300px;
  }
  
}

@media (max-width: 551px){

  .header-menu {
    gap: 0px;

  }

  
  
  .intro {
    grid-template-columns: 1fr;
  }

  .intro p {
    font-size: 16px;
  }

  .intro-botoes {
    grid-column: 1;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .intro-botoes a {
    font-size: 1.5rem;
  }

  .intro img {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }


  #titulo-h1{
    font-size: 36px;
  }

  .titulo-h2{
    font-size: 26px;
    text-align: center;
    margin-top: 10px;
  }

  


  .paragrafos{
    text-align: center;
  }
  
  .h2-projetos{
    font-size: 28px;
    margin-top: 35px;
  }

  img{
    width: 300px;
  }
  #img-projeto-telegram{
    height: 200px;
}
  
  .paragrafo{
    width: 300px;
    font-size: 16px;
   
  }
  
  
  .tecnologia{
    font-size: 16px;
  
  }

  .formacao h2 {
    font-size: 3.4rem;
  }

  .grade {
    width: 300px;
}

.bloco p {
  font-size: 20px;
}

.contatos .container {
  display: block;
}

.conversa{
 margin-bottom: 30px;
}

.contato-1{
  margin: 0 0 0 20px;
}
 
}

@media (max-width: 401px){



  #titulo-h1{
    font-size: 26px;
  }

  .titulo-h2{
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
  }

  
  .h2-projetos{
    font-size: 28px;
    margin-top: 35px;
  }

  .contatos a{
    font-size: 0.7rem;
  }
 
}


@media (max-width: 361px){
  .h2-projetos{
    font-size: 24px;
    margin-top: 35px;
  }

  img{
    width: 250px;
  }
  #img-projeto-telegram{
    height: 150px;
}
  
  .paragrafo{
    width: 250px;
    font-size: 16px;
   
  }
  
  
  .tecnologia{
    font-size: 14px;
  }

  .bloco p {
    font-size: 16px;
  }
  
  .conversa{
    font-size: 18px;
  }
}

@media (max-width: 321px){
  .header-menu a {
    font-size: 1rem;
    line-height: 1rem;
    padding: 10px 8px;
    text-decoration: none;
    color: #141414;
    display: block;
    position: relative;
  }

  .formacao h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 321px){

  .header-menu a {
    font-size: 0.9rem;
    line-height: 0.6rem;
    padding: 10px 6px;
    text-decoration: none;
    color: #141414;
    display: block;
    position: relative;
  }

  #titulo-h1{
    font-size: 22px;
  }

  .titulo-h2{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }

  .paragrafos{
    text-align: center;
  }

  
  .h2-projetos{
    font-size: 24px;
    margin-top: 35px;
  }


  
  
  .h2-projetos{
    font-size: 28px;
    margin-top: 35px;
  }

  img{
    width: 200px;
  }
  #img-projeto-telegram{
    height: 200px;
}
  
  .paragrafo{
    width: 200px;
    font-size: 16px;
   
  }
  
  
  .tecnologia{
    font-size: 12px;
  
  }

  .contatos a{
    font-size: 0.65rem;
  }

}

@media (max-width: 281px){
  body {
    width: 270px;
  }
}